@import url(./_fonts.css);
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 100%;
    position: relative;
}

.inner_container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    padding: 22px 0;
    margin-bottom: 100px;
}

.logo_text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 35px;
    margin: 0 13px 0 0;
}

.second_title {
    font-size: 16px;
    color: #7690A8;
    margin-bottom: 15px;
}

.main {
    margin-bottom: 100px;
}

.main_title {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    gap: 30px;
}

.card {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 370px;
    height: 340px;
    border: 1px solid #E5EAF4;
}

.card:hover {
    border: 1px solid #3DB370;
    cursor: pointer;
}

.card_img>path:hover {
    stroke: #3DB370;
}

.card_title {
    font-size: 24px;
    margin-bottom: 15px;
}

.footer {
    position: relative;
    padding: 40px 0;
    height: 190px;
}

.footer_img {
    margin-top: 40px;
}

.footer_img_img {
    margin-right: 10px;
}
 
.footer_bg_img {
    position: absolute;
    background-color: #16133D;
    width: 100%;
    height: 25%;
    z-index: -1;
    left: 0;
    bottom: 0;
}

.footer_img_img,
.footer_img_img>path:hover {
    cursor: pointer;
    fill: #3DB370;
}