@import url(./_fonts.css);
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.header {
    position: relative;
    margin: 0 auto;
    padding: 22px 0;
    margin-bottom: 100px;
}

.header:after {
    content: '';
    background: #EFEEF3;
    position: absolute;
    bottom: -45px;
    left: 0;
    height: 1px;
    width: 100%;
}

.logo,
.main {
    max-width: 1200px;
    margin: 0 auto;
}

.logo_text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 35px;
    margin: 0 13px 0 0;
}

.footer_container .logo_text {
    color: #fff;
}
.second_title {
    font-size: 16px;
    color: #7690A8;
    margin-bottom: 15px;
}

.main {
    margin-bottom: 100px;
}

.main_title {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    gap: 30px;
}

.card {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 370px;
    height: 340px;
    border: 1px solid #E5EAF4;
}

.card:hover {
    border: 1px solid #3DB370;
    cursor: pointer;
}

.card_img {
    width: 64px;
    height: 64px;
    padding: 13px;
    border: 1px solid #1565d81a;
    border-radius: 16px;
    transition: all 0.2s ease;
}

.card_img_svg_green {
    opacity: 0;
}

.card_img:hover .card_img_svg_blue{
    opacity: 0;
    transition: all 0.2s ease;
}

.card_img:hover .card_img_svg_green{
    opacity: 1;
}

.card_img:hover{
    border: 1px solid #36be7191;
}

.card_title {
    font-size: 24px;
    margin-bottom: 15px;
}

.footer {
    padding: 40px 0;
    background-color: #16133D;
}

.footer_container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer_img {
    margin-top: 40px;
}

.footer_img_img {
    margin-right: 10px;
}

.social_img:hover,
.social_img>path:hover {
    cursor: pointer;
    fill: #3DB370;
}